**This exercise will explore the use of pandas for a simple data anlysis.**

In [1]:
print("exploring data using pandas")

exploring data using pandas

The dataset is not accurate as it is created specifically for this exercise.

In [2]:
#import pandas
import pandas as pd

#loading data into dataframe
df = pd.read_csv('/kaggle/input/destination/Destination.csv')

df

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
5    6.0           China       8.0         3.0          198.0       Xinjiang
6    7.0           Italy       9.0         5.0           76.0         Puglia
7    8.0          France       6.0         3.0           24.0         Nantes
8    9.0           India       8.0         3.0           45.0         Ladakh
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
10  11.0           Japan      10.0         5.0           90.0          Beppu
11  12.0          Turkey       9.0         4.0           54.0        Faralya
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
13  14.0            Oman       7.0         5.0            2.0          Bahla
14  15.0  United Kingdom       7.0         4.0           20.0         London
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

Use df to display the whole data in a cell.

In [3]:
df.head(5)

    id   Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0  1.0   New Zealand       9.0         4.0            5.0         Rotura
1  2.0    North Pole       8.0         4.0            6.0       Svalbard
2  3.0  Turkmenistan       7.0         3.0            9.0        Derweze
3  4.0        Russia       8.0         5.0           17.0  Yekaterinburg
4  5.0       Austria       9.0         4.0           12.0    Hinterbruhl

use tail(to show the last five rows)

In [4]:
df.tail(10)

      id     Destination  Feedback  Avg Rating  All in Hotels Most Popular
7    8.0          France       6.0         3.0           24.0       Nantes
8    9.0           India       8.0         3.0           45.0       Ladakh
9   10.0       Indonesia       9.0         4.0           80.0         Aceh
10  11.0           Japan      10.0         5.0           90.0        Beppu
11  12.0          Turkey       9.0         4.0           54.0      Faralya
12  13.0       Palestine       9.0         3.0            5.0    Jerusalem
13  14.0            Oman       7.0         5.0            2.0        Bahla
14  15.0  United Kingdom       7.0         4.0           20.0       London
15   NaN             NaN       NaN         NaN            NaN          NaN
16   NaN             NaN       NaN         NaN            NaN          NaN

# **Pandas two main data structures**
1. Series
2. Dataframe - regular dataset (data in table format)

1. Series data structure as follows:

In [5]:
df.Destination #series, will display data as a single column

0        New Zealand
1         North Pole
2       Turkmenistan
3             Russia
4            Austria
5              China
6              Italy
7             France
8              India
9          Indonesia
10             Japan
11            Turkey
12         Palestine
13              Oman
14    United Kingdom
15               NaN
16               NaN
Name: Destination, dtype: object

In [6]:
df.columns #diplays titles of all columns

Index(['id', 'Destination', 'Feedback', 'Avg Rating', 'All in Hotels',
       'Most Popular'],
      dtype='object')

In [7]:
df.index #displays first and last index, and the step between them

RangeIndex(start=0, stop=17, step=1)

In [8]:
df.shape #return a tuple (no. of rows, no. of columns)

(17, 6)

In [9]:
df.dtypes #will display data type stored in each row. Object = string.

id               float64
Destination       object
Feedback         float64
Avg Rating       float64
All in Hotels    float64
Most Popular      object
dtype: object

In [10]:
df.info() #information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             15 non-null     float64
 1   Destination    15 non-null     object
 2   Feedback       15 non-null     float64
 3   Avg Rating     15 non-null     float64
 4   All in Hotels  15 non-null     float64
 5   Most Popular   15 non-null     object
dtypes: float64(4), object(2)
memory usage: 944.0+ bytes

In [11]:
df.Feedback #display only the feedback column. syntax = df.columnName

0      9.0
1      8.0
2      7.0
3      8.0
4      9.0
5      8.0
6      9.0
7      6.0
8      8.0
9      9.0
10    10.0
11     9.0
12     9.0
13     7.0
14     7.0
15     NaN
16     NaN
Name: Feedback, dtype: float64

In [12]:
df[['Feedback', 'Destination']].head() #display the first 5 rows of the two columns specified in the [[ ]].

   Feedback   Destination
0       9.0   New Zealand
1       8.0    North Pole
2       7.0  Turkmenistan
3       8.0        Russia
4       9.0       Austria

In [13]:
df[['Most Popular']] #to display column with space in the name

     Most Popular
0          Rotura
1        Svalbard
2         Derweze
3   Yekaterinburg
4     Hinterbruhl
5        Xinjiang
6          Puglia
7          Nantes
8          Ladakh
9            Aceh
10          Beppu
11        Faralya
12      Jerusalem
13          Bahla
14         London
15            NaN
16            NaN

In [14]:
df[4:10] #display rows in a given range

     id Destination  Feedback  Avg Rating  All in Hotels Most Popular
4   5.0     Austria       9.0         4.0           12.0  Hinterbruhl
5   6.0       China       8.0         3.0          198.0     Xinjiang
6   7.0       Italy       9.0         5.0           76.0       Puglia
7   8.0      France       6.0         3.0           24.0       Nantes
8   9.0       India       8.0         3.0           45.0       Ladakh
9  10.0   Indonesia       9.0         4.0           80.0         Aceh

In [15]:
#use df.iloc [start:stop, [column o, column 1, column 2]]
df.iloc[1:4, [1, 2, 3]]

    Destination  Feedback  Avg Rating
1    North Pole       8.0         4.0
2  Turkmenistan       7.0         3.0
3        Russia       8.0         5.0

In [16]:
#use 'loc[range, columnName] to get data from a particular column

df.loc[1:4, 'Avg Rating']

1    4.0
2    3.0
3    5.0
4    4.0
Name: Avg Rating, dtype: float64

Renaming column name

In [17]:
df.rename(columns = {'Avg Rating' : 'Avg_Rating'}).head()

    id   Destination  Feedback  Avg_Rating  All in Hotels   Most Popular
0  1.0   New Zealand       9.0         4.0            5.0         Rotura
1  2.0    North Pole       8.0         4.0            6.0       Svalbard
2  3.0  Turkmenistan       7.0         3.0            9.0        Derweze
3  4.0        Russia       8.0         5.0           17.0  Yekaterinburg
4  5.0       Austria       9.0         4.0           12.0    Hinterbruhl

In [18]:
df.describe() #get statistical analysis

              id   Feedback  Avg Rating  All in Hotels
count  15.000000  15.000000   15.000000      15.000000
mean    8.000000   8.200000    3.933333      42.866667
std     4.472136   1.082326    0.798809      52.398019
min     1.000000   6.000000    3.000000       2.000000
25%     4.500000   7.500000    3.000000       7.500000
50%     8.000000   8.000000    4.000000      20.000000
75%    11.500000   9.000000    4.500000      65.000000
max    15.000000  10.000000    5.000000     198.000000

In [19]:
df.sort_values('Feedback') #sort the table according to the column selected. lowest to highest on default.

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
7    8.0          France       6.0         3.0           24.0         Nantes
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
13  14.0            Oman       7.0         5.0            2.0          Bahla
14  15.0  United Kingdom       7.0         4.0           20.0         London
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
5    6.0           China       8.0         3.0          198.0       Xinjiang
8    9.0           India       8.0         3.0           45.0         Ladakh
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
6    7.0           Italy       9.0         5.0           76.0         Puglia
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
11  12.0          Turkey       9.0         4.0           54.0        Faralya
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
10  11.0           Japan      10.0         5.0           90.0          Beppu
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

In [20]:
df.sort_values('Feedback', ascending=False).head() #sort from highest to lowest.

      id  Destination  Feedback  Avg Rating  All in Hotels Most Popular
10  11.0        Japan      10.0         5.0           90.0        Beppu
0    1.0  New Zealand       9.0         4.0            5.0       Rotura
4    5.0      Austria       9.0         4.0           12.0  Hinterbruhl
6    7.0        Italy       9.0         5.0           76.0       Puglia
9   10.0    Indonesia       9.0         4.0           80.0         Aceh

In [21]:
df.sort_values(['Destination', 'Avg Rating'], ascending = [True, False])

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
5    6.0           China       8.0         3.0          198.0       Xinjiang
7    8.0          France       6.0         3.0           24.0         Nantes
8    9.0           India       8.0         3.0           45.0         Ladakh
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
6    7.0           Italy       9.0         5.0           76.0         Puglia
10  11.0           Japan      10.0         5.0           90.0          Beppu
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
13  14.0            Oman       7.0         5.0            2.0          Bahla
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
11  12.0          Turkey       9.0         4.0           54.0        Faralya
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
14  15.0  United Kingdom       7.0         4.0           20.0         London
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN

In [22]:
df['Feedback'].max() #see highest value in th column specified

10.0

In [23]:
df['Avg Rating'].max()

5.0

Which destination has more than 4 stars rating?

In [24]:
df_filter = df[df['Avg Rating'] > 3] #accessing the column which has more than 3 in the record value
destinations = df_filter['Destination'] #displaying necessary columns

In [25]:
destinations

0        New Zealand
1         North Pole
3             Russia
4            Austria
6              Italy
9          Indonesia
10             Japan
11            Turkey
13              Oman
14    United Kingdom
Name: Destination, dtype: object

display destinations with more than seven feedbacks

In [26]:
df_filter = df[df['Feedback'] > 7] #accessing the column which has more than 7 in the record value
destinations = df_filter['Destination'] #displaying necessary columns

In [27]:
destinations

0     New Zealand
1      North Pole
3          Russia
4         Austria
5           China
6           Italy
8           India
9       Indonesia
10          Japan
11         Turkey
12      Palestine
Name: Destination, dtype: object

In [28]:
df

      id     Destination  Feedback  Avg Rating  All in Hotels   Most Popular
0    1.0     New Zealand       9.0         4.0            5.0         Rotura
1    2.0      North Pole       8.0         4.0            6.0       Svalbard
2    3.0    Turkmenistan       7.0         3.0            9.0        Derweze
3    4.0          Russia       8.0         5.0           17.0  Yekaterinburg
4    5.0         Austria       9.0         4.0           12.0    Hinterbruhl
5    6.0           China       8.0         3.0          198.0       Xinjiang
6    7.0           Italy       9.0         5.0           76.0         Puglia
7    8.0          France       6.0         3.0           24.0         Nantes
8    9.0           India       8.0         3.0           45.0         Ladakh
9   10.0       Indonesia       9.0         4.0           80.0           Aceh
10  11.0           Japan      10.0         5.0           90.0          Beppu
11  12.0          Turkey       9.0         4.0           54.0        Faralya
12  13.0       Palestine       9.0         3.0            5.0      Jerusalem
13  14.0            Oman       7.0         5.0            2.0          Bahla
14  15.0  United Kingdom       7.0         4.0           20.0         London
15   NaN             NaN       NaN         NaN            NaN            NaN
16   NaN             NaN       NaN         NaN            NaN            NaN